@import '../utils/variables';

.UserActivity {
    position: relative;
    background-color: #fbfbfb;
    width: 62%;
    height: 300px;
    margin-top: 3em;
    padding: 24px 2em 0em 2em;
    display: flex;
    justify-content: space-between;
    & > h4 {
        display: contents;
        font-size: 15px;
    }
    & > ul {
        display: flex;
        color: #74798c;
        font-weight: 500;
        font-size: 14px;
        list-style: none;
        margin: 0;
        & > li::before {
            content: '.';
            width: 9px;
            height: 26.35px;
            display: inline-block;
            transform: scale(4);
        }
        & > li:nth-of-type(1) {
            margin-right: 2.9em;
            &::before {
                color: $color1;
            }
        }
        & > li:nth-of-type(2)::before {
            color: #e60000;
        }
    }
    & > .recharts-responsive-container {
        position: absolute;
        bottom: 1.5em;
        left: 2em;
    }
    & > .loadingState {
        position: absolute;
        bottom: 0;
        right: 0.5em;
        margin: 0;
        & > p {
            font-family: $police1;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.recharts-cartesian-grid-horizontal > line:nth-of-type(1) {
    display: none;
}
.recharts-cartesian-grid-vertical {
    display: none;
}
.recharts-cartesian-axis-line {
    stroke: #dedede;
}
.recharts-cartesian-axis-tick-value > tspan {
    font-size: 14px;
}
.recharts-yAxis > line {
    display: none;
}
.recharts-cartesian-axis-tick-line {
    display: none;
}
.custom-tooltip {
    width: 60px;
    height: 50px;
    padding: 1.3em 0 1.3em 0;
    background-color: $color3;
    color: $color2;
    font-family: $police1;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 1232px) {
    .UserActivity {
        height: 320px;
    }
}

@media screen and (min-width: 1440px) {
    .UserActivity {
        height: 340px;
    }
}

@media screen and (min-width: 2000px) {
    .UserActivity {
        height: 400px;
    }
}
