@import '../utils/variables';

.UserCard {
    position: relative;
    background-color: #fbfbfb;
    border-radius: 5px;
    width: 208px;
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25em;
    margin-right: 2em;
    margin-left: 1em;
    & > .dataKey {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 1em 0 1em;
        & > img {
            width: 60px;
            height: 60px;
            margin-right: 1em;
        }
        & > p {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            & > span {
                font-size: 14px;
                font-weight: 500;
                color: #74798c;
            }
        }
    }
    & > .loadingState {
        position: absolute;
        bottom: -0.5em;
        right: 0.5em;
        margin: 0;
        & > p {
            font-family: $police1;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 1232px) {
    .UserCard {
        width: 258px;
        height: 124px;
        margin-bottom: 2.39em;
        margin-right: 3em;
        margin-left: 1em;
        margin-top: 0.45em;
        & > .dataKey {
            justify-content: space-evenly;
            padding: 0 2em 0 1.5em;
        }
    }
}

@media screen and (min-width: 1358px) {
    .UserCard {
        margin-right: 5.5em;
    }
}

@media screen and (min-width: 1440px) {
    .UserCard {
        margin-bottom: 3.47em;
        margin-right: 7.5em;
        margin-top: 1.55em;
        & > .dataKey {
            justify-content: space-evenly;
            padding: 0 2em 0 1.5em;
            & > img {
                width: 70px;
                height: 70px;
            }
            & > p {
                font-size: 22px;
                & > span {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 1650px) {
    .UserCard {
        width: 300px;
        height: 139.5px;
        margin-bottom: 3em;
        margin-right: 8em;
        & > .dataKey {
            & > img {
                width: 80px;
                height: 80px;
            }
            & > p {
                font-size: 24px;
                & > span {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    .UserCard {
        width: 370px;
        height: 166px;
        margin-bottom: 3em;
        margin-top: 3.3em;
        margin-right: 9.5em;
        & > .dataKey {
            & > img {
                width: 100px;
                height: 100px;
            }
            & > p {
                font-size: 30px;
                line-height: 35px;
                & > span {
                    font-size: 22px;
                }
            }
        }
    }
}
