@import './utils/variables';

.Dashboard {
    padding-left: 140px;
    padding-top: 67px;
    font-family: $police1;
    & > h1 {
        font-size: 30px;
        margin-bottom: 17px;
        & > span {
            color: $color3;
        }
    }
    & > p {
        font-size: 11.5px;
        margin: 0;
        font-weight: 500;
    }
}

@media screen and (min-width: 1232px) {
    .Dashboard {
        padding-left: 150px;
        padding-top: 70px;
        & > h1 {
            font-size: 31px;
            margin-bottom: 19px;
        }
        & > p {
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .Dashboard {
        padding-left: 166px;
        padding-top: 78px;
        & > h1 {
            font-size: 35px;
        }
        & > p {
            font-size: 13.5px;
        }
    }
}

@media screen and (min-width: 2000px) {
    .Dashboard {
        padding-left: 200px;
        padding-top: 93px;
        & > h1 {
            font-size: 40px;
        }
        & > p {
            font-size: 16px;
        }
    }
}
