@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
.Dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
  max-width: 1900px;
  padding: 67px 0 8em 140px;
  font-family: "Roboto";
}
.Dashboard > h1 {
  font-size: 30px;
  margin-bottom: 17px;
  display: inline-flex;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
.Dashboard > h1 > span {
  color: #e60000;
}
.Dashboard > p {
  font-size: 11.5px;
  margin: 0;
  font-weight: 500;
  display: inline-flex;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
.Dashboard > aside {
  margin-top: 3em;
  height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Dashboard > div {
  position: absolute;
  margin-top: 31em;
  width: 60%;
  max-width: 1240px;
  height: 210px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DashboardError {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  background-image: url("../../../assets/error.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: "Roboto";
  color: #e60000;
  font-size: 40px;
}
.DashboardError > span:nth-of-type(1) {
  position: absolute;
  margin-bottom: 68px;
  font-size: 55px;
}
.DashboardError > span:nth-of-type(2) {
  position: absolute;
  margin-top: 24px;
}
.DashboardError > span:nth-of-type(3) {
  position: absolute;
  margin-top: 208px;
  text-shadow: 0px 20px 20px #ccc7c7;
}
.DashboardError > span:nth-of-type(4) {
  position: absolute;
  margin-top: 163px;
  margin-right: 194px;
  text-shadow: 8px 8px 20px #ccc7c7;
}
.DashboardError > span:nth-of-type(5) {
  position: absolute;
  margin-top: 163px;
  transform: rotate3d(4, 57, 1, 180deg);
  margin-left: 198px;
  text-shadow: 8px 8px 20px #ccc7c7;
}
.DashboardError > span:nth-of-type(6) {
  position: absolute;
  margin-bottom: 57px;
  margin-right: 230.5px;
  transform: rotate3d(10, 105, 25, 21deg);
  text-shadow: -3px -5px 8px #ccc7c7;
}
.DashboardError > span:nth-of-type(7) {
  position: absolute;
  margin-bottom: 66px;
  transform: rotate3d(4, 57, 1, 180deg);
  margin-left: 230px;
  text-shadow: -3px -5px 8px #ccc7c7;
}

@media screen and (min-width: 1232px) {
  .Dashboard {
    padding: 70px 0 8em 150px;
  }
  .Dashboard > h1 {
    font-size: 31px;
    margin-bottom: 19px;
  }
  .Dashboard > p {
    font-size: 12px;
  }
  .Dashboard > aside {
    height: 608px;
  }
  .Dashboard > div {
    height: 230px;
    margin-top: 32.75em;
  }
}
@media screen and (min-width: 1440px) {
  .Dashboard {
    padding: 78px 0 8em 166px;
  }
  .Dashboard > h1 {
    font-size: 35px;
  }
  .Dashboard > p {
    font-size: 13.5px;
  }
  .Dashboard > aside {
    height: 680px;
  }
  .Dashboard > div {
    width: 59.35%;
    height: 275px;
    margin-top: 35em;
  }
}
@media screen and (min-width: 1650px) {
  .Dashboard > aside {
    height: 715px;
  }
  .Dashboard > div {
    width: 59.35%;
    margin-top: 35em;
    height: 310px;
  }
}
@media screen and (min-width: 2000px) {
  .Dashboard {
    padding: 93px 0 8em 200px;
  }
  .Dashboard > h1 {
    font-size: 40px;
  }
  .Dashboard > p {
    font-size: 16px;
  }
  .Dashboard > aside {
    height: 846px;
  }
  .Dashboard > div {
    width: 59%;
    height: 370px;
    margin-top: 40.5em;
  }
}

/*# sourceMappingURL=Dashboard.css.map */
